body {
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: seagreen;
}
p {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: normal;
}

.inicio {
  font-family: "Montserrat";
  font-weight: normal;
}

.titulo {
  color: blueviolet;
}

.slogan {
  position: relative;
  top: -30px;
  color: blueviolet;
}

.centro {
  display: flex;
  justify-content: center;
}

.centro2 {
  justify-content: center;
}

.fonttitulo {
  font-size: 42px;
  font-family: "Montserrat";
}

.fontslogan {
  font-size: 16px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: normal; /* pode ser lighter, normal, bold, black ou em numeros como 300,500,700 */
}

.fraseSelecao {
  font-size: 56px;
}

.linkRJ {
  font-size: 22px;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  margin-left: -200px;
}

.linkSP {
  font-size: 22px;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  margin-right: -200px;
  margin-top: -26px;
}

.filmeHoje {
  color: darkred;
}

.filmeAmanha {
  color: darkblue;
}
