body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
dd,
blockquote {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*dessa forma irá herdar a cor do elemento pai*/
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"],
img[src$=".png"] {
  border-radius: 4px;
}
