body {
  font-family: "Montserrat";
  margin: 50px;
}

.titulo {
  text-align: center;
}

.item {
  background: rgb(20, 20, 20);
  color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
}

h2 {
  margin: 0;
}

p {
  color: rgb(226, 226, 226);
}

span {
  color: #febe01;
}

a {
  display: inline-block;
  background: #febe01;
  color: rgb(19, 19, 19);
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}
