.bicicleta {
  height: 600px; /*tamanho da div*/

  background-color: lightblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat; /*por padrão a imagem irá se repetir para preencher o conteúdo, assim desabilitamos*/
  background-size: cover; /*dessa forma ele funciona como um 100% porém mais certeiro*/
  background-position: center top; /*mantém a imagem alinhada ao centro e sempre presa ao topo*/

  display: flex; /*atribuímos a div um ambiente todo como flex*/
}

h1 {
  margin: auto; /*o auto uma vez que o ambiente é flex passa a ser o centro*/
  background: white;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
}

.pattern {
  height: 300px;
  background-color: orange;
  background-image: url("./img/pattern.svg");
  background-repeat: repeat;
  /* background-size: 300px; */
}

/*o padrão é cima-baixo aqui alteramos para a esquerda*/
.graditente_linear {
  height: 300px;
  background-image: linear-gradient(to left, lightblue, orange);
}

/*o circle melhora o formato, caso não exista ficará mais oval com o objetivo de preencher*/
.graditente_radial {
  height: 300px;
  background-image: radial-gradient(circle, #009638, #f6d800, #062672);
}
