.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, auto)
  ); /*dessa forma é repetido o auto-fit buscando criar mais colunas com no mínimo 150px e o máximo é de acordo com a págiona se não conseguir criar ele desse oara próxima linha*/
  gap: 20px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  flex-grow: 1; /*com isso eles crescem uniformemente no espaço*/
  flex-shrink: 1; /*se tiver 1 vai permitir diminuir se for 0 não vai diminuir de acordo com a página*/
  flex-basis: 0; /*deixa o tamanho mínimo (ex.: 200px), na maioria das vezes deixa no auto ou 0 (demonstrando que deve ser igual)*/
  flex: 1; /*basicamente um atalho para os outros comandos acima se tiver 1 terá os mesmos resultados demonstrados  */
}
