.cor-branco {
  color: #ffffff;
}
.cor-cinza-1 {
  color: #b2b2b2;
}
.cor-cinza-2 {
  color: #505050;
}

.cor-amarelo {
  color: #ffbb00;
}

.cor-amarelo-escuro {
  color: #5a4615;
}

.cor-preto {
  color: #000000;
}

.cor-preto-claro {
  color: #111111;
}
