.bicicletas-bg:nth-child(odd) {
  /*dessa forma pintará de preto todos os ímpares */
  background-image: linear-gradient(to right, #ffffff 30%, #111111 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  /*usando o position absolute*/
  /* position: relative; */

  /*modo grid*/
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  background: #000000;
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 6px 0px 0px 6px;

  /*modo position aboslute*/
  /* position: absolute;
  top: 20px;
  right: 0px; */

  /*modo grid*/
  grid-area: 1/1;
  place-self: start end; /*start = topo, primeira linha e end = ultima coluna */
  margin-top: 20px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start; /*mantém alinhado ao começo pra evitar criar bordas muito grandes quando aumentar muito*/
}

.bicicletas-conteudo p {
  margin-bottom: 20px;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
  margin-bottom: 8px;
}

.bicicletas-conteudo a {
  place-self: end;
}

.bicicletas-conteudo li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg:nth-child(odd) {
    /*dessa forma pintará de preto todos os ímpares */
    background: #111111;
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas-conteudo ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicicletas-conteudo a {
    place-self: end;
  }
}
