img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  grid-column: 1 / -1;
}

/* quando a largura da tela for de no máximo 600px ou seja, menor ou igual a 600px como um celular vai fazer:  */
@media (max-width: 600px) {
  div {
    /* aqui uma vez que a condição é verdadeira de duas colunas passa a ter somente uma */
    grid-template-columns: 1fr;
  }
}

/* acima de 1000px */
@media (min-width: 1000px) {
  html {
    font-size: 150%;
  }
}

/* entre 800px e 900px */
@media (min-width: 800px) and (max-width: 900px) {
  h1 {
    background: lightgreen;
  }
}
