img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  /* dessa forma irá repetir o auto-fit, criando quantas colunas sejam possiveis de 300px */
  /* grid-template-columns: repeat(auto-fit, 300px);  */
  /* (codigo acima ) porém dessa forma se tiver um espaço de 200px sobrando não irá criar e ficará um espaço em branco*/

  /* dessa forma irá criar quantas colunas possivel de 400px cada, se sobrar algum espaço irá ajustar na tela */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

p {
  font-size: 2rem;
}

/* um exemplo com diversas fotos*/
.galeria {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*nesse exemplo jogamos a imagem para a linha 2 quando a largura da tela for de no máximo 600px*/
@media (max-width: 600px) {
  .imagem_principal {
    grid-row: 2;
  }
}
