img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

p {
  font-size: 1.5rem;
}

.cover img {
  /*com isso ela irá manter também a altura em 100% do espaço, no caso de acordo com o texto, porém pode e ira distorcer*/
  height: 100%;

  /*assim definimos que ela irá cortar a imagem mantendo a proporção*/
  object-fit: cover;

  /*e aqui definimos que irá manter o topo e a direita cortando os outros lados*/
  object-position: top right;
}
