img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  /*impede a imagem, e o container do elemento crescer infinitamente*/
  max-width: 960px;

  /*assim ele sempre irá ajustar o conteúdo ao centro de acordo com a tela*/
  margin-left: auto;
  margin-right: auto;
  /*outra forma de escrever o código acima é margin: 0 auto pois cima e baixo será nada e esquerda e direita automatico*/
}

.cover img {
  /*com isso ela irá manter também a altura em 100% do espaço, no caso de acordo com o texto, porém pode e ira distorcer*/
  height: 100%;

  /*assim definimos que ela irá cortar a imagem mantendo a proporção*/
  object-fit: cover;

  /*e aqui definimos que irá manter o topo e a direita cortando os outros lados*/
  object-position: top right;
}

/*alinha o texto ao centro vertical da sua coluna*/
.texto {
  align-self: center;
}

p {
  max-width: 60ch;
}
