.cabecalho {
  /*definindo um tamanho maximo de largura e uma margem automática para os lados para sempre ficar ao centro*/
  max-width: 1200px;
  margin: 0 auto;

  padding: 40px 20px; /*40 pixels cima e baixo e 20px lado e outro de padding usando como margem*/
  display: flex; /* para ficar lado a lado*/
  justify-content: space-between; /*alinha cada elemento em cada canto da tela, no caso a marca e o menu*/
  align-items: center; /*centraliza  verticalmente*/
}

.cabecalho_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  /*dessa forma ele vai quebrando e alinhando ao centro horizontal*/
  justify-content: center;
}

.cabecalho_menu a {
  font-size: 1.25rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #ebc852;

  /*para que os valores de padding sejam atrivuidos corretamente*/
  display: block;
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  .cabecalho a {
    background: rgb(243, 243, 243);
    border-radius: 4px;
    color: #141414;
  }
}
