.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.experiencia .subtitulo_destacado {
  margin-top: 235px;
  color: #203967;
}

.experiencia_texto {
  font-size: 1.5rem;
  line-height: 1.3;
  max-width: 65ch;
  margin-bottom: 60px;
  /* color: #172f5b; */
  color: #ffffff;
  text-align: justify;
}

.experiencia_texto strong {
  color: #ebc852;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #203967;
  /* background: #14274a; */
  margin-bottom: 20px;
  border-radius: 4px;

  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ebc852, rgb(221, 134, 4));
  position: absolute;
  top: 25px;
  left: -4px;
}

.empresa_ano {
  position: absolute;
  top: 27px;
  left: -95px;
  text-align: right;
  width: 80px;
  color: #203967;
  font-size: 0.9rem;
  font-weight: bold;
}

.empresa_nome {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa_texto {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #ffffff;
}

.empresa_habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa_habilidades li {
  font-size: 0.8rem;
  line-height: 1.4;
  border-radius: 4px;
  padding: 5px 10px;
  color: #203967;
  background-color: #ebc852;
}

@media (max-width: 600px) {
  .experiencia {
    grid-template-columns: 1fr;
  }

  .experiencia .subtitulo_destacado {
    margin-top: 0px;
    color: #203967;
  }
  .experiencia_texto {
    font-size: 1.2rem;
    line-height: 1.3;
    max-width: 75ch;
    margin-bottom: 60px;
  }

  .empresa_ano {
    position: initial;
    order: 1; /*o 0 sempre será o primeiro e o 1 é opróximo definido no caso ele será o ultimo elemento */
    width: initial;
    text-align: left;
    color: #ebc852;
  }

  .empresa_ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 500px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
