.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 2fr; /*ou seja serão duas colunas sendo a segunda com o dobro do tamanho da primeira*/
  gap: 40px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.25;
  margin-bottom: 30px;
  position: relative; /*agora todos os elementos a ele pertencentes que forem position absolute responderão em relação a este elemento*/
}

.introducao h1::before {
  content: "";
  display: block;
  width: 55px;
  height: 100px;
  /* background: url("./img/detalhe.svg") no-repeat center; */
  background-image: url("./img/raio.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55px auto;

  position: absolute; /*será aboluto em relação a posição relativa do pai que é onde ele está, no caso o h1*/
  top: -5px;
  left: -30px;
  z-index: -1;
}

.introducao p {
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }

  .introducao h1::before {
    background-size: 25px auto;
    top: -30px;
    left: -30px;
  }
  .introducao h1 {
    font-size: 2.5rem;
    margin-bottom: 23px;
  }

  .introducao p {
    font-size: 0.8rem;
  }
}
@media (max-width: 570px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }

  .introducao h1::before {
    background-size: 25px auto;
    top: -30px;
    left: -30px;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .introducao p {
    font-size: 0.6rem;
  }
}

@media (max-width: 430px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }

  .introducao h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .introducao p {
    font-size: 0.4rem;
  }
}
@media (max-width: 300px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }

  .introducao h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .introducao p {
    font-size: 0.65rem;
  }
}
